/* Réinitialisation des marges et des paddings pour l'ensemble du document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Appliquer une hauteur de 100vh pour que le contenu occupe toute la hauteur de la fenêtre */
body, html {
  height: 100vh;
}

/* Style spécifique pour la section du swap de cryptomonnaie */
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajouter une marge en haut pour éloigner la section du logo */
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

.swap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style pour le rectangle autour de l'option "Swap" */
.swap-option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box; /* Inclure la bordure dans la largeur du rectangle */
  margin-bottom: 10px; /* Ajouter une marge en bas pour séparer les éléments */
  line-height: 2; /* Centrer verticalement le texte */
}

select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  text-align-last: center; /* Centre le texte horizontalement (pour Firefox) */
  -moz-text-align-last: center; /* Centre le texte horizontalement (pour Firefox) */
}

/* Centrer verticalement le texte des options */
select option {
  line-height: 2;
}

.swap-icon {
  font-size: 24px;
  margin: 10px 0;
}

#swap-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Ajout d'une marge en haut pour séparer le bouton */
  font-size: 15px; /* Ajout de la taille de police souhaitée */
}

#swap-button:hover {
  background-color: #0056b3;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

input[disabled] {
  background-color: #f2f2f2;
}

/* Dégradé sur l'arrière-plan de la page */
body {
  background: linear-gradient(#007bff, #000000);
  margin: 0;
  padding: 0;
}

/* Logo en haut à gauche */
.logo {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Ajoutez cette règle CSS pour le bouton "Paramètres" */
#settings-button {
  top: 10px;
  right: 10px;
  margin-bottom: 15px;
}

#settings-panel {
	margin-bottom: 10px;
}
